**/__pycache__/**
**/.ipynb_checkpoints/**
**/.DS_Store
.vscode/
data/
stored/
former/
other.py
node_modules/**
construct.txt
*.csv
sparql_params.yaml 
dist/
build/
*.egg-info/
settings/private.py
app-demo/temp/
notebooks/
eswc/