pyyaml==5.4.1
requests==2.25.1
SPARQLWrapper==1.8.5
pandas==1.2.5
wikipedia==1.4.0
lxml==4.9.1
html5lib==1.1
wptools==0.4.17
streamlit==1.11.1
pyvis==0.1.9
streamlit-agraph==0.0.35
rdflib==6.1.1
streamlit-timeline==0.0.2
PrettyTable==3.2.0
protobuf==3.16.0
plotly==4.14.3
